body{
  max-width: 1920px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Geon';
  src: url('./Media/Fonts/geon.ttf') format('truetype' );
}

$green:#84C632;
$off-White:#cccccc;
  
$font: 'Geon', Times, sans-serif;
  
@mixin whiteFont {
  font-family: $font;
  color: white;
}
@mixin blackFont {
  font-family: $font;
  color: black;
}
  
@mixin nav {
  @include whiteFont();
  font-size: 15px;
}
.NavBarPadding{
  margin-top: 0;
  padding-top:35%;
}
  
@mixin navFlex{
  display:flex;
  flex-direction: row;
  align-self: stretch;
}
  
@mixin navbar{
  position: absolute;
  width:100%;
  max-width: 1920px;
  display:flex;
  flex-direction: row;
  align-self: stretch;
  z-index: 2;
}

.navbar {
  padding-top: 2%;
  @include navbar()
  
}
  
.navbar-mobile {
  padding-top:4%;
  margin-bottom: 2%;
  @include navbar()
}
/* Style the links inside the navigation bar */
.navbarright{
  @include navFlex();
  @include nav();
  flex-grow: 1;
  justify-content:space-around;
}

.navbarright-mobile{
  margin:3%;
}
  
.navbarleft{
  @include nav();
  padding-left: 3%;
  flex-grow: 1;
}

#bigger{
  font: weight 6;;
  }
  
#space{
  flex-grow: 0.8;
  text-align: center;
  // margin-top: 4%;
}
#space-mobile{
  flex-grow: 3;
  padding-left: 12%;
  text-align: left;
  font-family: $font;
  margin-top: 8%;
}

@mixin donateButton {
  @include whiteFont();
  background-color: $green;
  border: none;
  text-align: center;
  text-decoration: none;
}
.donateButton{
  @include donateButton();
  width: 200px;
  height:100%;
  outline: transparent;
  font-size: 16px;
  
  // margin-right: 4%;
  white-space: nowrap;
  padding: 0% 20%;

}
.donateButton-mobile{
  @include donateButton();
  font-size: 20px;
  padding:3%;
  flex-grow: 1;
  margin:5% 11%;
  display:block;
}

.buttons{
  flex-wrap:wrap;
  align-content:space-around;
}

.buttons-mobile{
  display: block;
  margin: 0%;
  width: 80%;
}
.donateButton2{
  @include donateButton();
  font-size: 22px;
  padding:20px 25px;
  flex-grow: 1;
  margin-right: 3%;
}

@mixin LearnButton {
  @include blackFont();
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding:3% 9%;
}

.LearnButton{
  @include LearnButton();
  margin: 5% 6%;
}

.LearnButton-mobile{
  @include LearnButton();
  margin: 5% 0%;
}



a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

// // HOMEPAGE CSS

@mixin main{
  background-image: url('./Media/DesktopBackgrounds/bgrnd.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;

}

.main-container{
  @include main();
  background-position: center 120%;
}
.main-container-mobile{
  @include main();
  background-position: 80% 140%;
}

@mixin homeText {
  @include whiteFont();
  padding-top: 7%;
  padding-bottom: 13%;
  padding-left: 2%;
}
.homeText{
  @include homeText();
  margin-left: 10%;
  margin-right: 50%;
}

.homeText-mobile{
  @include homeText();
  padding-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.localSmall{
  margin-bottom: 10%;
  font-size: 180%;
  font-weight: 100;
}

.local{
  font-size: 340%;
  font-weight: 100;
  color: white;
}

.local-mobile{
  font-size: 250%;
  font-weight: 100;
  color: white;
}
  
.title{
  font-size: 190%;
  padding-bottom: 3%;
  font-weight: 190;
}

.wave-container{
  width: 100%;
  position: relative;
}

.wave{
  width:100%;
  height:40%;
  display: block;
}

.descriptionContainer{
  margin-left: 15%;
  margin-right: 15%;
}
.descriptionContainer-mobile{
  margin-left: 5%;
  margin-right: 5%;
}

.white{
  padding-top: 30%;
  width:100%
}

@mixin black{
  @include blackFont();
  font-weight: 100;
  margin-bottom: 0%;
  margin-top: 10%;
  padding: 0% 6%;
  text-align: center;
}
.black{
  @include black();
  font-size: 330%;
}

.black-mobile{
  @include black();
  font-size: 230%;
}

.whiteBackground{
  background-color: white;
  width: 100%;
  z-index: 1;
  position: relative;
  // height:100%
}

.boxes{
  display: flex;
  justify-content: space-evenly;
  margin-top:5%;
  margin-bottom:10%;
  flex-wrap:wrap;
  align-content:space-evenly;
  align-self: center;
}
@mixin numbers {
  color:#E4BD0F;
  font-family: $font;
  font-size: 410%;
  text-align: center;
  margin-bottom: 0%;
  font-weight: 200;
}
.numbers{
  @include numbers()
}

.numbers-mobile{
  @include numbers();
  font-size: 310%;
}

.itemName{
  color:#C2C2C3;
  font-family: $font;
  text-align: center;
  margin-top: 0%;
}

@mixin blurb {
  font-family: $font;
  text-align: center;
  margin-bottom: 15%;
  font-weight: 200;
}
.blurb{
  @include blurb();
  font-size: 150%;
}

.blurb-mobile{
  @include blurb();
  font-size: 120%;
}
.mini-title{
  font-weight: bold;
}
.storyContainer{
  margin-left: 8%;
  margin-right: 8%;
}

.stories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  // margin-left: 8%;
  // margin-right: 8%;
}

.story{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 340px;
  height: 460px;
  border: 1px solid $off-White;
  border-radius: 4px;
  background-image: url("./Media/plants/plant.jpg");
  background-position: 103% center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 120%;
  // position: relative;
  
}

.exampleStory{
  @include whiteFont();
  color: $green;
  margin:10%;
  // width: 100%;
  font-size: 40px;
  
}

.readStory{
  @include whiteFont();
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  font-weight: lighter;
  background-color: $green;
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

.padding{
  padding:5%;
  flex-grow: 4;
}

.chevron-right{
  flex-grow: 1;
  align-self: center;
}
@mixin viewMore{
  font-family: "Geon", Times, serif;
  border: 1px solid #C2C2C1;
  border: 1px solid $off-White;
  border-radius: 4px;  color: #4E4E54;
  text-align: center;
  text-decoration: none;
  font-size: 20PX;
  padding: 1%;
  width: 400px;
  margin:30px auto;
  display:block;
}
.viewMore{
  @include viewMore()
}

.viewMore-mobile{
  @include viewMore();
  padding: 3%;
  width: 90%;
}

// // END OF HOMEPAGE CONTAINER CSS

hr.solid {
  border-top: 1px solid #F3F3F3;
  margin-bottom: 5%;
}



.logoBanner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6%;
}

::placeholder{
  color:$off-White;
}

.update{
  float:right;
}
.email{
  display: flex;
  align-items: center;
  // justify-content: space-between;
  position:relative;
  border-color:$off-White;
  border-style:solid;
  color:$off-White;
  box-shadow: 2px 0px 5px 0px rgba(42,42,42,.11);
  text-shadow:0px 0px 0px rgba(42,42,42,.35);
  font-size:22px;
  border-radius:0px;
  border-width:1px;
  width: 95%;
  padding:2%;
}

#email{
  flex-basis: 90%;
  font-family:$font;
  border-color:white;
  border-style:none;
  // height:100%;
  color:$off-White;
  font-size:22px;
  display:inline-block;
}
input{
  text-decoration: none;
  // height: 100%;
  // outline-width: 0;
}
#chevron-email{
  flex-basis:10%;
  display:inline-block;
  width: 100%;
  height:100%;
  left:265px;
  top:2px;
}

.update{
  font-family: $font;
  font-size: 180%;
  font-weight: lighter;
}

.bottomBanner{
    // z-index: 1;
    position: relative;
    background-color: white;
    /* width: 100%; */
    margin: 0 auto;
    max-width: 1920px;
}
  
#links{
  
  justify-content: space-between;
  width: 60%;
  font-size: 110% ;
  display: flex;
  flex-wrap: wrap;
  font-family: "Geon", Times, sans-serif;
  margin-bottom:2%;
}
  
.copyright{
  color:$off-White;
  margin-top: 4%;
  font-size: 110%;
}
  
.blankSpace{
  height:10px;
}
  
#icon {
  font-family: $font;
  align-items: center;
  background: none;
  border:0;
}
  
.blogs{
  display: flex;
  flex-wrap: wrap;
}
  
#icon:focus {outline:0;}
div .Bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.dropdown-menu.show{
  background-color: white;
  padding:3%;
  width: 80%;
  border:black;
  border-radius: 20px;
  font-family: $font;
  color: $green;
  margin: 0 auto;
  display: inline-block;
  box-shadow: 0 15px 19px 0 rgba(0,0,0,0.2);
  // position: absolute;
  // margin: 2% 0%;
}

.container-mobile{
  height:100%;
}


.list{
  height:200px;
  width: 300px;
}

.exampleStory #blogpage{
  position: relative;
  top: 400px;
  
}
.contentPreview {
  font-weight: lighter !important;
  color: black;
  margin: 8%;
  font-weight:normal;
  font-size: 70%;
}
@mixin backgroundSettings{
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
}

.blogcontainer{
  background-image: url('./Media/DesktopBackgrounds/background4.jpg');
  @include backgroundSettings();
  background-position: center -150px;
}

.aboutcontainer{
  background-image: url('./Media/DesktopBackgrounds/NCL.jpg');
  @include backgroundSettings();
  background-position: center -415px;
  // position: relative;
  // z-index: 0;
}



.overlay {
    
    position: absolute;
    background-color: rgba(104, 111, 122,0.2);
    width: 100%;
    max-width: 1920px;
    height: 50%;
    z-index: 0;
}

.contactContainer{
  background-image: url('./Media/DesktopBackgrounds/NCL.jpg');
  @include backgroundSettings();
  background-position: center -350px;
}

.contactContainer-mobile{
  background-image: url('./Media/DesktopBackgrounds/NCL.jpg');
  @include backgroundSettings();
}

.donationContainer{
  background-image: url('./Media/DesktopBackgrounds/meeting.jpg');
  @include backgroundSettings();
  // background-size: 108%;
  background-position: center -261px;
}
.donationContainer-mobile{
  background-image: url('./Media/DesktopBackgrounds/meeting.jpg');
  @include backgroundSettings();
  background-size: 208%;
  background-position: center -200px;
}

@mixin headings(){
  @include whiteFont();
  top: 1000px;
  padding-top: 10%;
  
  text-align: center;
  
}

.Posts{
  @include headings();
  font-size: 200%;
  padding-top: 2%;
}

.Posts-mobile{
  @include headings();
  font-size: 150%;
  padding-top: 15%;
  position: relative;
  top: auto;
  z-index: 1; 
}

.contactHeading{
    @include headings();
    font-size: 200%;
    position: relative;
    top: auto;
    z-index: 1;    
}
@mixin blogs{
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blogs{
  @include blogs();
}
.blogs-mobile{
  @include blogs();
  padding-top: 20%;
}

.individualArticle{
  @include blackFont();
  background-color: white;
  // padding: 5%;
  padding-top: 1%;
  font-size: 20px;
  margin-top: 0;
  text-align: justify;
}
@mixin bottomBanner{
  margin-top: 25px;
}
.keepUpdated{
  @include bottomBanner();
  margin-bottom: 2%;
  color:#4E4E54;
}
  
.bottomLogo{
  @include bottomBanner();
}
.writtenBy{
  margin: 0;
  padding: 0%;
  
}
  
.noBottomPadding{
  margin-bottom: 0%;
  // margin-top: 15%;
  // padding-top: 1%;
  
}
  
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
  
.contactContent{
  padding: 0% 4%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
  
  

.card{
  border: 1px solid $off-White;
  border-radius: 4px;  transition: 0.3s;
  font-family: $font;
}

#form.card-mobile{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: $font;
  width: 100%;
  font-size: 130%;
  margin:1%;
  padding: 7%;
}

#form.card{
  width: 25%;
  margin: 1%;
  font-size: 130%;
  padding: 2%;
}

#donate.card{
  width: 95%;
  font-size: 130%;
  padding: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



label, input {
// display: block;
}
@mixin inputLines {
  background: transparent;
  border: none;
  font-family: $font;
  font-size: 110%;
  border-bottom: 1px solid #000000;
}
input {
  @include inputLines();
  width:100%;
}

#msg{
  @include inputLines();
  width: 100%;
}

button#submit{
  @include whiteFont();
  height: 60px;
  width: 150px;
  
  background-color: $green;
  font-size: 120%;
  margin: 0%;

}
.contactDetails.card{
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  padding:4%;
}



.contactDetails-mobile.card{
// @include contactDetails();
  flex-direction: column;
  padding: 4%;
}

.contactPanel{
  margin: 1%;
}
.contactPanel-mobile{
  margin: 1%;
  width:100%;
}

.message{
  margin-bottom:15%;
}

.chevronButton{
  background: none;
  border: none;
}

.space{
  margin-bottom: 15%;
}
.burger{
  left:1%;
  text-decoration: none;
  outline: transparent;
  border:none;
  background-color:transparent;
}

.dropdown{
  position: absolute;
  background-color: white;
  
  top: 75px;
  left: 5%;
  width: 90%;
  font-size: 120%;
  max-width: 100%;
  font-weight:normal ;
  border-radius: 14px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.15), 0 3px 6px 0 rgba(0,0,0,.1);
}

#amount{
  border: black 1px solid;
}

.spaceDonate{
  margin-bottom: 5%;
}

.otherDonation{
  // padding: 0%;
  white-space: nowrap;
  display: inline-flex;
}

.inputAmount{
  white-space: nowrap;
  margin-top: 1em;
  width: 60%;
}

.donationAmount{
  margin: 5% 0%;
}

.donate-now {
  // display: flex;
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.donate-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.donate-now label,
.donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: $green;
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #DDD;
}