@font-face {
  font-family: 'Geon';
  src: url('./Media/Fonts/geon.ttf') format('truetype' );
}

$font: 'Geon', Times, sans-serif;

@mixin whiteFont {
  font-family: $font;
  color: white;
}

@mixin nav {
  @include whiteFont();
  font-size: 15px;

}
.NavBarPadding{
 margin-top: 0;
 padding-top:35%;
}

@mixin navFlex{
  display:flex;
  flex-direction: row;
  // justify-content: space-around;
  align-self: stretch;

}
@mixin navbar{
  position: absolute;
  width:100%;
  display:flex;
  flex-direction: row;
  align-self: stretch;
}
.navbar {
  padding-top: 2%;
  @include navbar()
}

.navbar-mobile {
  padding-top:4%;
  margin-bottom: 2%;
  @include navbar()
}
  
  /* Style the links inside the navigation bar */
.navbarright{
  @include navFlex();
  @include nav();
  flex-grow: 1;
  justify-content:space-evenly ;
  
}
.navbarright-mobile{
  @include navFlex();
  @include nav();
  align-items: center;
  flex-grow: 1;
  justify-content:space-evenly ;
  
}

.navbarleft{
  @include nav();
  // align-content: right;
  padding-left: 3%;
  flex-grow: 3;
}

#bigger{
font: weight 6;;
}

#space{
  flex-grow: 3;
  text-align: center;
  margin-top: 4%;
}
#space-mobile{
  flex-grow: 3;
  text-align: center;
  margin-top: 8%;

}
@mixin donateButton {
  background-color: #84C632; /* Green */
  font-family: $font;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}
.donateButton{
  @include donateButton();
  font-size: 16px;
  padding:3%;
  flex-grow: 1;
  margin-right: 4%;
}
.donateButton-mobile{
  @include donateButton();
  font-size: 20px;
  padding:3%;
  flex-grow: 1;
  margin:5% auto;
  display:block;
}

.buttons{
  flex-wrap:wrap;
  align-content:space-around;
}

.buttons-mobile{
  display: block;
  margin: 0%;
  width: 80%;
}
.donateButton2{
  @include donateButton();
  font-size: 22px;
  padding:3% 9%;
  flex-grow: 1;
  margin-right: 3%;
  // display: block;
  // margin: 0 auto;
}

@mixin LearnButton {
  background-color: white; 
  font-family: $font;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding:3% 9%;
}

.LearnButton{
  @include LearnButton();
  margin: 5% 6%;
}

.LearnButton-mobile{
  @include LearnButton();
  margin: 5% 0%;
}



a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.app-container{
  // display: flex;
}
@mixin main{
  background-image: url('./Media/DesktopBackgrounds/bgrnd.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;

}
body{
  height: 100%;
}
.main-container{
  @include main();
  background-position: center 120%;  
}
.main-container-mobile{
  @include main();
  background-position: 80% 140%;  
}

@mixin homeText {
  padding-top: 7%;
  padding-bottom: 13%;
  color: white;
  font-family: $font;
  padding-left: 2%;
}
.homeText{
  @include homeText();
  margin-left: 10%;
  margin-right: 50%;
}

.homeText-mobile{
  @include homeText();
  padding-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.localSmall{
  margin-bottom: 10%;
  font-size: 180%;
  font-weight: 100;  
}

.local{
  font-size: 340%;
  font-weight: 100;
  color: white;
}

.local-mobile{
  font-size: 250%;
  font-weight: 100;
  color: white;
  
}

.title{
  font-size: 190%;
  padding-bottom: 3%;
  font-weight: 190;
}


.wave-container {
  // position: absolute;
  // top:0px;
  // left:0px;
  bottom:1px;
}

.wave{
  width:100%;
  height:40%;
  display: block;
}

.descriptionContainer{
  margin-left: 15%;
  margin-right: 15%;
  // margin-top: 50%;
  
}
.descriptionContainer-mobile{
  margin-left: 5%;
  margin-right: 5%;
  // margin-top: 50%;
  
}

.white{
  padding-top: 30%;
  width:100%
  
}
@mixin black{
  font-family: $font;
  font-weight: 100;
  color: black;
  margin-bottom: 0%;
  margin-top: 10%;
  padding: 0% 6%;
  text-align: center;
}
.black{
  @include black();
  font-size: 330%;
}
.black-mobile{
  @include black();
  font-size: 230%;
}
.whiteBackground{
  background-color: white;
  width: 100%;
  // height:100%
}

.boxes{
  display: flex;
  justify-content: space-evenly;
  margin-top:5%;
  margin-bottom:10%;
  flex-wrap:wrap;
  align-content:space-evenly;
  align-self: center;
}
@mixin numbers {
  color:#E4BD0F;
  font-family: $font;
  font-size: 410%;
  text-align: center;
  margin-bottom: 0%;
  font-weight: 200;
}
.numbers{
  @include numbers()
}

.numbers-mobile{
  @include numbers();
  font-size: 310%;
}

.itemName{
  color:#C2C2C3;
  font-family: $font;
  text-align: center;
  margin-top: 0%;
}

@mixin blurb {
  font-family: $font;
  text-align: center;
  margin-bottom: 15%;
  font-weight: 200;
}
.blurb{
  @include blurb();
  font-size: 150%;
}

.blurb-mobile{
  @include blurb();
  font-size: 120%;
}
.mini-title{
  font-weight: bold;
}
.storyContainer{
  margin-left: 8%;
  margin-right: 8%;
}

.stories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  // margin-left: 8%;
  // margin-right: 8%;
}

.story{
  
  display: flex;
  margin-bottom: 5%;
  width: 340px;
  height: 460px;
  box-shadow:-10px -10px 8px -11px #84C632;
  background-image: url("./Media/plants/plant.jpg");
  background-position: 103% center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 120%;
  position: relative;

}

.exampleStory{
  @include whiteFont();
  color: #84C632;
  margin:10%;
  width: 100%;
  font-size: 40px;

}  

.readStory{
  @include whiteFont();
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  font-weight: lighter;
  background-color: #83C330;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
}

.padding{
  padding:5%;
  flex-grow: 4;
}

.chevron-right{
  flex-grow: 1;
  align-self: center;
}
@mixin viewMore{
  font-family: "Geon", Times, serif;
  border: 1px solid #C2C2C1;
  box-shadow:1px 1px -8px -1px #C2C2C1 #C2C2C1;
  color: #4E4E54;
  text-align: center;
  text-decoration: none;
  font-size: 20PX;
  padding: 1%;
  width: 20%;
  margin:30px auto;
  display:block;
}
.viewMore{
  @include viewMore()
}

.viewMore-mobile{
  @include viewMore();
  padding: 3%;
  width: 90%;
  
}

hr.solid {
  border-top: 3px solid #F3F3F3;
  margin-bottom: 5%;
}



.logoBanner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6%;
}

::placeholder{
  color:#cccccc; 
}

.update{
  float:right;
}
.email{
  display: flex;
  align-items: center;
  // justify-content: space-between;
  position:relative;
  border-color:#cccccc;
  border-style:solid; 
  color:#cccccc; 
  box-shadow: 2px 0px 5px 0px rgba(42,42,42,.11); 
  text-shadow:0px 0px 0px rgba(42,42,42,.35); 
  font-size:22px; 
  border-radius:0px; 
  border-width:1px; 
  width: 95%;
  padding:2%;
}

#email{
  flex-basis: 90%;
  font-family:$font;
  border-color:white;
  border-style:none; 
  // height:100%;
  color:#cccccc; 
  font-size:22px; 
  display:inline-block;
}
input{
  text-decoration: none;
  // height: 100%;
  outline-width: 0;
}
#chevron-email{
  flex-basis:10%;
  display:inline-block;
  width: 100%;
  height:100%;
  left:265px;
  top:2px;
  
}

.update{
  font-family: $font;
  font-size: 180%;
  font-weight: lighter;
}

.bottomBanner{
  margin: 5%;
}

#links{

  justify-content: space-between;
  width: 60%;
  font-size: 110% ; 
  display: flex;
  flex-wrap: wrap;
  font-family: "Geon", Times, sans-serif;
  margin-bottom:2%;
}

.copyright{
  color:#B2B3B6;
  margin-top: 4%;
  font-size: 110%;
}

.blankSpace{
  height:500px;
}

#icon {
  font-family: $font;
  align-items: center;
  background: none;
  border:0;
}

.blogs{
display: flex;
flex-wrap: wrap;
}

#icon:focus {outline:0;}
div .Bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.dropdown-menu.show{
  background-color: white;
  padding:3%;
  width: 80%;
  border:black;
  border-radius: 20px;
  color: #84C632;
  margin: 0 auto;
  display: inline-block;
  
  // position: absolute;
  // margin: 2% 0%;
}

.container-mobile{
  height:100%;
}

.blogcontainer{
  // padding: 5%;
  // font-size: 150%;
  text-justify: inter-word;
}
.list{
  height:200px;
  width: 300px;
}

.blogBanner{
// background-image: url("./Media/DesktopBackgrounds/background2.jpg");
// background-size: 100%;
// background-repeat: no-repeat;
// height: 400px;
// width: 100%;
// margin-bottom: 10%;;
}
.exampleStory #blogpage{
  position: relative;
  top: 400px;

}
.contentPreview  {
  font-weight: lighter !important;
  color: black;
  margin: 8%;
  font-weight:normal;
  font-size: 70%;
}
@mixin posts(){
  font-family: $font;
  color: white;
  top: 1000px;
  padding-top: 10%;
  margin: 0% auto;
  text-align: center;
  background-image: url('./Media/DesktopBackgrounds/background4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 46%;
  margin-bottom: 3%;
}

.Posts{
  @include posts();
  font-size: 200%;


}
.Posts-mobile{
  @include posts();
  font-size: 150%;

}
@mixin blogs{
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blogs{
  @include blogs();
}
.blogs-mobile{
  @include blogs();
  margin-top: 20%;
}

.individualArticle{
  font-family: $font;
  padding: 5%;
  padding-top:0%;
  font-size: 130%;
  text-align: justify;
}
@mixin bottomBanner{
  margin-top: 25px;
}
.keepUpdated{
  @include bottomBanner();
  margin-bottom: 2%;
}

.bottomLogo{
  @include bottomBanner();
}

.noBottomPadding{
  margin-bottom: 0%;
  margin-top:0% ;
}